html{
	padding: 0;
	margin: 0;

	body{
		margin: 0;
		padding: 0;

		background-color: map-get($palette,'background');

		font-family: $family;

		display: grid;
		grid-template-rows: auto 1 fr auto;
	}

	ul{
		list-style:none;
	}

	ol{
		list-style:disc;
	}

	.title{
		display: flex;
		flex-direction: row;
		align-items: center;
	}
}