main{
	display: grid;
	grid-template-columns: 1fr 2fr;

	box-shadow: inset 0 .1rem .5rem map-get($palette, 'shadow');

	#aside{
		display: grid;
		grid-template-rows: 1fr auto;

		border-right: .2rem solid map-get($palette,'shadow');

		padding: 1rem;

		#tools{
			img{
				width: 6.4rem;
			}

			span{
				display: none;
			}
		}

		#contact{
			align-items: center;
		}
	}

	#exp{
		padding: 1rem;

		span{
			font-size: 1.4rem;
		}
	}
}