//! Palettes

$color1:#141724;
$color2: #1c3f60;
$color3: #f2efea;
$color4: #ef2d56;
$color5: #bababa;

$fonts:('black':$color1, 'white':$color3, 'disable':$color5);

$palette: (
	'contrast': $color1,
	'contrast2': $color2,
	'background': $color3,
	'enfasis': $color4,
	'disable': $color5,
	'shadow': transparentize($color1,0.5)
);